body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}
button {
  cursor: pointer;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
address {
  font-style: normal;
}

@media (min-width: 320px) {
  .first_section {
    max-width: 320px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main_bg/mobile-hero.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container {
    max-width: 320px;
    padding: 0 16px;
  }
  .container_mobile {
    padding: 0 28px;
  }
  .mobile_logo {
    padding: 16px 0;
    margin-right: 0;
  }
  .mobile_logo_span {
    color: #2e2f42;
    text-transform: uppercase;
  }
  .mobile_menu_play {
    display: flex;
    justify-content: space-between;
  }
  .header_list,
  .header_address {
    display: none;
  }
  .mobile_button {
    border: none;
    background-color: transparent;
  }
  .wrapper_mobile_menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    overflow: hidden;
  }
  .mobile_container_menu {
    position: relative;
    padding-top: 76px;
    padding-bottom: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .mobile_overlay_button {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 24px;
    right: 24px;
    border: 1px solid #e7e9fc;
    border-radius: 50%;
    padding: 2px;
  }
  .mobile_nav_menu {
    margin-bottom: auto;
  }
  .mobile_item:not(:last-child) {
    margin-bottom: 40px;
  }
  .mobile_link {
    margin-bottom: 40px;
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  .mc_active_color {
    color: #404bbf;
  }
  .mb_active_color {
    color: #404bbf;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-size: 20px;
    text-decoration: none;
  }
  .mobile_list_item:not(:last-child) {
    margin-bottom: 24px;
  }
  .mobile_list_link {
    margin-bottom: 24px;
    font-style: normal;
    color: #2e2f42;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-size: 20px;
    text-decoration: none;
  }
  .mobile_address {
    margin-bottom: 48px;
  }
  .mobile_icons_list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .mobile_icons_item {
    width: 40px;
    height: 40px;
  }
  .mobile_icons_link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .first_section {
    padding-top: 72px;
    padding-bottom: 76px;
  }
  .first_s_title {
    line-height: 40px;
    font-size: 36px;
    margin-bottom: 72px;
    letter-spacing: 0.02em;
  }
  .first_s_button {
    display: block;
  }
  .second_section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .second_s_title {
    display: none;
  }
  .second_list {
    display: block;
  }
  .second_list_item:not(:last-child) {
    margin-bottom: 72px;
  }
  .second_list_icon {
    display: none;
  }
  .second_list_title {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
  }
  .second_list_text {
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 24px;
  }
  .third_section {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .third_s_title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 0;
  }
  .third_s_list {
    display: block;
    margin: 72px auto 0;
  }
  .third_worker_wrap {
    background-color: #ffffff;
  }
  .third_s_item {
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .third_s_item:not(:last-child) {
    margin-bottom: 72px;
  }
  .third_worker_name {
    letter-spacing: 0.02em;
  }
  .third_worker_job {
    text-align: center;
  }
  .third_s_icons_item {
    width: 40px;
    height: 40px;
  }
  .third_s_icons_link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fourth_section {
    padding-top: 96px;
  }
  .fourth_s_title {
    letter-spacing: 0.02em;
  }
  .fourth_s_list {
    margin-bottom: 96px;
  }
  .fourth_s_item {
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .fourth_s_wrap_img_page {
    display: none;
  }
  .fourth_s_title_app {
    letter-spacing: 0.02em;
  }
  .footer-footer {
    background-color: #2e2f42;
  }
  .footer_wrap {
    display: block;
  }
  .footer_logo_wrap {
    margin: 0;
  }
  .footer_logo {
    display: block;
    text-align: center;
  }
  .footer_wrap_social_networks {
    margin-top: 72px;
  }
  .footer_social_networks_page {
    text-align: center;
  }
  .footer_social_networks_list {
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
  }
  .subs {
    display: block;
  }
  .subscribes {
    margin-top: 72px;
  }
  .subscribes_text {
    text-align: center;
  }
  .subs_mail {
    width: 288px;
  }
  .subs_btn_padding {
    padding-bottom: 96px;
  }
  .subs_btn {
    margin: 16px auto 0;
  }
  .is-open {
    opacity: 1;
    visibility: visible;
  }
  .modal_window {
    padding-left: 16px;
    padding-right: 16px;
    width: 288px;
  }
  .modal_text {
    line-height: 24px;
  }
  .modal_w_button:hover {
    background-color: #404bbf;
    border: none;
  }
  .modal_w_button:focus {
    background-color: #404bbf;
    border: none;
  }
  .modal_svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  button.modal_w_button:hover {
    fill: #ffffff;
  }
  button.modal_w_button:focus {
    fill: #ffffff;
  }
  .modal_input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal_input:focus {
    border-color: #4d5ae5;
  }
  .modal_input:focus + svg {
    fill: #4d5ae5;
  }

  .modal_form_svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal_form_svg:focus {
    fill: #4d5ae5;
  }
  .modal_textarea:focus {
    border-color: #4d5ae5;
  }
  textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
  }
  .modal_form_checkbox {
    margin-bottom: 24px;
  }
  .modal_form_checkbox_label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }
  .modal_label_span {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
  }
  .checkbox:checked + .modal_form_checkbox_label > .modal_label_span {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
  }

  .modal_form_link {
    color: #4d5ae5;
    text-decoration: underline;
  }
  .modal_form_button:hover,
  .modal_form_button:focus {
    background-color: #404bbf;
  }
}
@media screen and (min-width: 320px) and (min-resolution: 192dpi) {
  .first_section {
    max-width: 320px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main_bg/mobile-hero2x.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .first_section {
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main_bg/hero_tablet.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .header_header {
    padding-top: 0;
  }
  .header_list,
  .header_address {
    display: block;
  }
  .header_list {
    display: flex;
  }
  .header_list_address {
    display: block;
  }
  .mobile_button {
    display: none;
  }
  .mobile_menu {
    display: none;
  }
  .header_item {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    color: #2e2f42;
  }
  .header_logo {
    margin-right: 120px;
    padding: 24px 0;
  }
  .header_list_link {
    padding: 6px 0;
    display: block;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    position: relative;
    color: #2e2f42;
  }
  .currently::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    color: #4d5ae5;
    border-radius: 2px;
  }
  .ss_color {
    color: #404bbf;
  }
  .first_s_title {
    margin-top: 0;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
    margin-bottom: 36px;
  }
  .second_list {
    display: flex;
    flex-wrap: wrap;
  }
  .second_list_title {
    font-size: 36px;
    text-align: left;
  }
  .second_list_item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .second_list_item:not(:last-child) {
    margin-bottom: 0;
  }
  .second_list_icon {
    display: none;
  }
  .third_s_title {
    margin-bottom: 72px;
  }
  .third_s_list {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    row-gap: 64px;
    column-gap: 24px;
    margin: 0;
    padding: 0;
  }
  .third_s_item {
    flex-basis: calc((100% - 24px) / 2);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .third_s_item:not(:last-child) {
    margin-bottom: 0;
  }
  .fourth_section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .fourth_s_list {
    margin-bottom: 0;
  }
  .fourth_s_item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .fourth_s_item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .wrap_footer_mobile {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
  }
  .footer_wrap_social_networks {
    margin-top: 0;
  }
  .footer-footer {
    padding: 96px 0;
  }
  .footer_wrap {
    display: block;
    padding-left: 108px;
  }
  .footer_logo {
    text-align: left;
  }
  .footer_social_networks_page {
    text-align: left;
  }
  .subscribes {
    display: inline-block;
    margin-top: 0;
  }
  .subscribes_text {
    text-align: left;
  }
  .subs {
    display: flex;
  }
  .subs_mail {
    max-width: 264px;
  }
  .subs_btn {
    margin: 0;
  }
  .modal_window {
    width: 408px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .first_section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main_bg/hero_tablet2x.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1158px) {
  .first_section {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main_bg/hero_main.jpg);
    background-position: center center;
    max-width: 1440px;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px;
  }

  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .header_logo {
    padding: 0;
    margin-right: 76px;
  }
  .header_item {
    letter-spacing: 0.02em;
  }
  .header_list_address {
    display: flex;
  }
  .header_list_link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  .wrapper_mobile_menu {
    display: none;
  }
  .mobile_button {
    display: none;
  }
  .first_s_title {
    padding: 0;
    margin-bottom: 48px;
  }
  .first_s_button {
    display: block;
    margin: 0 auto;
  }
  .second_section {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 0;
  }
  .second_list_title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  .second_list {
    flex-wrap: nowrap;
  }
  .second_list_text {
    font-weight: 400;
  }
  .second_list_item {
    max-width: 264px;
  }
  .second_list_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
  .third_s_title {
    padding: 0;
  }
  .third_s_list {
    display: flex;
  }
  .third_s_item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .fourth_section {
    padding-top: 120px;
  }
  .fourth_s_title {
    padding-top: 0;
  }
  .fourth_s_list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  .fourth_s_item {
    flex-basis: calc((100% - 48px) / 3);
    box-shadow: none;
  }
  .fourth_s_item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscribes {
    margin: 0;
  }
  .footer_wrap {
    display: flex;
  }

  .footer_logo_wrap {
    margin-right: 120px;
  }
  .footer_text {
    letter-spacing: 0.02em;
  }
  .subscribes {
    margin-left: auto;
  }
  .wrap_footer_mobile {
    display: flex;
    margin-bottom: 0;
    gap: 0;
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .first_section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main_bg/hero_main2x.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px;
  }
}
